* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.display {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d89c6a;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  height: 20vh;
  background-image: url(img/potatoes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  color: white;
  font-size: 1.7rem;
}

i {
  color: white;
  font-size: 3rem;
  cursor: pointer;
}

i:hover {
  color: yellow;
}

main {
  display: flex;
  align-items: center;
}

.sidebar {
  background-color: #bc7031;
  width: 200px;
  padding: 5px;
  height: 64vh;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar ul {
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: white;

  justify-content: space-around;

  user-select: none;
}

footer {
  background-color: #bc7031;
  height: 12vh;
  padding: 10px;
  padding-top: 20px;
  margin-top: 20px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
/* GAME */

#game {
  margin: 100px auto;
  width: 800px;
  height: 300px;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
}

#dog {
  width: 100px;
  height: 100px;
  background-image: url(img/game/dog_stand.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 200px;
}

.walking {
  animation: walk 1s infinite;
}

.jumping {
  background-image: url(img/game/dog-step.png);
  animation: jump 1s 1;
}

#block {
  width: 50px;
  height: 80px;
  background-image: url(img/game/OIG2-removebg-preview.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 120px;
  left: 800px;
}

.block-moves {
  animation: block 3s 1 linear;
}

@keyframes block {
  0% {
    left: 800px;
  }
  100% {
    left: -50px;
  }
}

@keyframes walk {
  0% {
    background-image: url(img/game/dog_stand.png);
  }
  16% {
    background-image: url(img/game/dog-step.png);
  }
  32% {
    background-image: url(img/game/dog_stand.png);
  }
  48% {
    background-image: url(img/game/dog-step.png);
  }
  64% {
    background-image: url(img/game/dog_stand.png);
  }
  80% {
    background-image: url(img/game/dog-step.png);
  }
}

@keyframes jump {
  0% {
    top: 200px;
    background-image: url(img/game/dog-step.png);
  }
  30% {
    top: 100px;
    background-image: url(img/game/dog-step.png);
  }
  70% {
    top: 100px;
    background-image: url(img/game/dog-step.png);
  }
  100% {
    top: 200px;
    background-image: url(img/game/dog-step.png);
  }
}

#start-text {
  width: 100%;
  text-align: center;
  line-height: 4rem;
  position: absolute;
  top: 50px;
  left: 40px;
}

#lose-text {
  width: 100%;
  text-align: center;
  line-height: 4rem;
  position: absolute;
  top: 50px;
  left: 40px;
}

#lost-dog {
  transform: scaleY(-1);
  width: 100px;
}

#jump-count {
  position: absolute;
  right: 10px;
  top: 10px;
}

#win-text {
  width: 100%;
  text-align: center;
  line-height: 4rem;
  position: absolute;
  top: 50px;
  left: 40px;
}

#win-fries {
  width: 100px;
}

/* GAME END */

/* FRITTEN */

#fritten {
  border: 1px solid black;
  width: 500px;
  height: max-content;

  display: none;
  flex-wrap: wrap;
}

.menu-item {
  width: 200px;
  border: 1px solid black;
}

.menu-image {
  width: 200px;
}

/* FRITTEN END */

/* SNACKS */

#snacks {
  border: 1px solid black;
  width: 500px;
  height: max-content;

  display: none;
  flex-wrap: wrap;
}

/* SNACKS END */

/* DRINKS */

#drinks {
  border: 1px solid black;
  width: 500px;
  height: max-content;

  display: none;
  flex-wrap: wrap;
}

/* DRINKS END */

/* CART */

#cart {
  background-color: rgba(255, 255, 0, 0.8);
  width: 500px;
  height: 600px;
  border: 1px solid black;
  position: absolute;
  right: 0;
  z-index: 1;
  display: none;
}

/* CART END */

.cursor-pointer {
  cursor: pointer;
}

